@{
    ViewBag.Title = "Home Page";
}

<!--輪播圖 class="carousel slide"-->
<div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        <!--和myCarousel 綁定 li內#myCarousel-->
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <!--第一章圖顯示 active-->
        <div class="item active" style="background:#223240">
            <img src="~/Image/slide1.png" />
        </div>
        <div class="item" style="background:#F5E4DC">
            <img src="~/Image/slide2.png" />
        </div>
        <div class="item" style="background:#DE2A2D">
            <img src="~/Image/slide3.png" />
        </div>
    </div>
    <!--左右的點集 和#myCarousel綁定  &lsaquo=左箭頭 &rsaquo=右箭頭;-->
    <!--data-slide="prev"=>上一頁  data-slide="next"=>下一頁-->
    <!--class="carousel-control left"=>左箭頭樣式  class="carousel-control right"=>右箭頭樣式-->
    <!--箭頭樣式太小 透過CSS加大他-->
    <!--使用JQ讓箭頭都固定在圖中央兩側-->
    @*<a href="#myCarousel" data-slide="prev" class="carousel-control left">&lsaquo;</a>
        <a href="#myCarousel" data-slide="next" class="carousel-control right">&rsaquo;</a>*@


    <!--不用透過JQ版本  使用圖標-->
    <a href="#myCarousel" data-slide="prev" class="carousel-control left">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a href="#myCarousel" data-slide="next" class="carousel-control right">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<div class="tab1">
    <div class="container">
        <h2 class="tab-h2">「為什麼選擇庫奇培訓」</h2>
        <p class="tab-p">強大的師資，完美實戰管理課程，讓你突飛猛進！</p>
        <div class="row">
            <div class="col-md-6 col">
                <div class="media">
                    <div class="media-left">
                        <a href="#"><img src="~/Image/tab1-1.png" class="media-object" alt="" /></a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">課程內容</h4>
                        <p class="text-muted">其他：不知名講師，没有任何實戰價值的教材！</p>
                        <p>我們：知名企業家、管理學大師聯合編寫的教材！</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col">
                <div class="media">
                    <div class="media-left">
                        <a href="#"><img src="~/Image/tab1-2.png" class="media-object" alt="" /></a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">師資力量</h4>
                        <p class="text-muted">其他：非歐美正牌大學畢業、業界無知名度的講師！</p>
                        <p>我們：美國哈佛、耶魯等世界一流名校！</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col">
                <div class="media">
                    <div class="media-left">
                        <a href="#"><img src="~/Image/tab1-3.png" class="media-object" alt="" /></a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">課程安排</h4>
                        <p class="text-muted">其他：無法保證上課效率、沒有時間表、任務無法完成！</p>
                        <p>我們：保證按時間表上課、效率高、當天任務當天完成！</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col">
                <div class="media">
                    <div class="media-left">
                        <a href="#"><img src="~/Image/tab1-4.png" class="media-object" alt="" /></a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">服務團隊</h4>
                        <p class="text-muted">其他：社會招聘、員工品質參差不齊！</p>
                        <p>我們：內部培訓、品質優良員工！</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tab2">
    <div class="container">
        <div class="row">
            @*將pull-right & pull-left 寫入CSS 內*@
            @*<div class="text col-md-6 col-sm-6 tab2-text">
                <h3>強大的學習體系</h3>
                <p>經過管理大師層層把關、讓企業突飛猛進</p>
            </div>*@
            @*以移動端角度思考 初始化圖片應該在下面 變大後再調整CSS*@
            <div class="col-md-6 col-sm-6 tab2-img">
                <img src="~/Image/tab2.png" class="auto img-responsive center-block" alt=""/>
            </div>
            <div class="text col-md-6 col-sm-6 tab2-text">
                <h3>強大的學習體系</h3>
                <p>經過管理大師層層把關、讓企業突飛猛進</p>
            </div>
        </div> 
    </div>  
</div>

<div class="tab3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <img src="~/Image/tab3.png" class="auto img-responsive center-block" alt=""/>
            </div>
            <div class="text col-md-6 col-sm-6">
                <h3>完美的管理方式</h3>
                <p>最新的培訓方案、讓您企業超越同業</p>
            </div>
        </div>
    </div>
</div>
