@{
    ViewBag.Title = "Home Page";
}

<!--輪播圖 class="carousel slide"-->
<div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        <!--和myCarousel 綁定 li內#myCarousel-->
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <!--第一章圖顯示 active-->
        <div class="item active" style="background:#223240">
            <img src="~/Image/slide1.png" />
        </div>
        <div class="item" style="background:#F5E4DC">
            <img src="~/Image/slide2.png" />
        </div>
        <div class="item" style="background:#DE2A2D">
            <img src="~/Image/slide3.png" />
        </div>
    </div>
    <!--左右的點集 和#myCarousel綁定  &lsaquo=左箭頭 &rsaquo=右箭頭;-->
    <!--data-slide="prev"=>上一頁  data-slide="next"=>下一頁-->
    <!--class="carousel-control left"=>左箭頭樣式  class="carousel-control right"=>右箭頭樣式-->
    <!--箭頭樣式太小 透過CSS加大他-->
    <!--使用JQ讓箭頭都固定在圖中央兩側-->
    <a href="#myCarousel" data-slide="prev" class="carousel-control left">&lsaquo;</a>
    <a href="#myCarousel" data-slide="next" class="carousel-control right">&rsaquo;</a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>