
@{
    ViewBag.Title = "Index";
}

<!--將圖設定為背景顏色 .css-->
<div class="jumbotron">
    <div class="container">
        <hgroup>
            <h1>資訊</h1>
            <h4>企業內訊最新動態或資源...</h4>
        </hgroup>
    </div>
</div>

<div id="information">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!--外層8等分裡面再拆分 12 部分-->
                <!--style="padding:0" 讓螢幕兩端間距在小一些-->
                <div class="container-fluid" style="padding:0px;">
                    <div class="row info-content">
                        <div class="col-md-5 com-sm-5 col-xs-5">
                            <img src="~/Image/info1.jpg" class="img-responsive"/>
                        </div>
                        <div class="col-md-7 com-sm-7 col-xs-7">
                            <h4>广电总局发布TVOS2.0 华为阿里参与研发</h4>
                            <!--最小的情況下隱藏-->
                            <p class="hidden-xs hidden-sm">TVOS2.0是在TVOS1.0与华为MediaOS及阿里巴巴YunOS融合的基础上，打造的新一代智能电视操作系统。华为主要承担开发工作，内置的电视购物商城由阿里方面负责。</p>
                            <p>admin 15 / 10 / 11</p>
                        </div>
                    </div>

                    <div class="row info-content">
                        <div class="col-md-5 com-sm-5 col-xs-5">
                            <img src="~/Image/info2.jpg" class="img-responsive" />
                        </div>
                        <div class="col-md-7 com-sm-7 col-xs-7">
                            <h4>苹果四寸手机为何要配置强大的A9处理器？</h4>
                            <p class="hidden-xs hidden-sm">苹果明年初有可能对外发布一款经过升级的四英寸手机，相当于iPhone 5s。该手机将会配置苹果在2015年旗舰手机中采用的A9处理器。配置性能如此强大的应用处理器？</p>
                            <p>admin 15 / 10 / 11</p>
                        </div>
                    </div>

                    <div class="row info-content">
                        <div class="col-md-5 com-sm-5 col-xs-5">
                            <img src="~/Image/info3.jpg" class="img-responsive" />
                        </div>
                        <div class="col-md-7 com-sm-7 col-xs-7">
                            <h4>六家互联网公司发声明 抵制流量劫持等违法行为</h4>
                            <p class="hidden-xs hidden-sm">六家互联网公司（今日头条、美团大众点评网、360、腾讯、微博、小米科技）发布联合声明，呼吁有关运营商打击流量劫持，重视互联网公司被流量劫持，可能导致的严重后果。</p>
                            <p>admin 15 / 10 / 11</p>
                        </div>
                    </div>


                    <div class="row info-content">
                        <div class="col-md-5 com-sm-5 col-xs-5">
                            <img src="~/Image/info1.jpg" class="img-responsive" />
                        </div>
                        <div class="col-md-7 com-sm-7 col-xs-7">
                            <h4>广电总局发布TVOS2.0 华为阿里参与研发</h4>
                            <!--最小的情況下隱藏-->
                            <p class="hidden-xs hidden-sm">TVOS2.0是在TVOS1.0与华为MediaOS及阿里巴巴YunOS融合的基础上，打造的新一代智能电视操作系统。华为主要承担开发工作，内置的电视购物商城由阿里方面负责。</p>
                            <p>admin 15 / 10 / 11</p>
                        </div>
                    </div>

                    <div class="row info-content">
                        <div class="col-md-5 com-sm-5 col-xs-5">
                            <img src="~/Image/info2.jpg" class="img-responsive" />
                        </div>
                        <div class="col-md-7 com-sm-7 col-xs-7">
                            <h4>苹果四寸手机为何要配置强大的A9处理器？</h4>
                            <p class="hidden-xs hidden-sm">苹果明年初有可能对外发布一款经过升级的四英寸手机，相当于iPhone 5s。该手机将会配置苹果在2015年旗舰手机中采用的A9处理器。配置性能如此强大的应用处理器？</p>
                            <p>admin 15 / 10 / 11</p>
                        </div>
                    </div>

                    <div class="row info-content">
                        <div class="col-md-5 com-sm-5 col-xs-5">
                            <img src="~/Image/info3.jpg" class="img-responsive" />
                        </div>
                        <div class="col-md-7 com-sm-7 col-xs-7">
                            <h4>六家互联网公司发声明 抵制流量劫持等违法行为</h4>
                            <p class="hidden-xs hidden-sm">六家互联网公司（今日头条、美团大众点评网、360、腾讯、微博、小米科技）发布联合声明，呼吁有关运营商打击流量劫持，重视互联网公司被流量劫持，可能导致的严重后果。</p>
                            <p>admin 15 / 10 / 11</p>
                        </div>
                    </div>



                    <div class="row info-content">
                        <div class="col-md-5 com-sm-5 col-xs-5">
                            <img src="~/Image/info1.jpg" class="img-responsive" />
                        </div>
                        <div class="col-md-7 com-sm-7 col-xs-7">
                            <h4>广电总局发布TVOS2.0 华为阿里参与研发</h4>
                            <!--最小的情況下隱藏-->
                            <p class="hidden-xs hidden-sm">TVOS2.0是在TVOS1.0与华为MediaOS及阿里巴巴YunOS融合的基础上，打造的新一代智能电视操作系统。华为主要承担开发工作，内置的电视购物商城由阿里方面负责。</p>
                            <p>admin 15 / 10 / 11</p>
                        </div>
                    </div>

                    <div class="row info-content">
                        <div class="col-md-5 com-sm-5 col-xs-5">
                            <img src="~/Image/info2.jpg" class="img-responsive" />
                        </div>
                        <div class="col-md-7 com-sm-7 col-xs-7">
                            <h4>苹果四寸手机为何要配置强大的A9处理器？</h4>
                            <p class="hidden-xs hidden-sm">苹果明年初有可能对外发布一款经过升级的四英寸手机，相当于iPhone 5s。该手机将会配置苹果在2015年旗舰手机中采用的A9处理器。配置性能如此强大的应用处理器？</p>
                            <p>admin 15 / 10 / 11</p>
                        </div>
                    </div>

                    <div class="row info-content">
                        <div class="col-md-5 com-sm-5 col-xs-5">
                            <img src="~/Image/info3.jpg" class="img-responsive" />
                        </div>
                        <div class="col-md-7 com-sm-7 col-xs-7">
                            <h4>六家互联网公司发声明 抵制流量劫持等违法行为</h4>
                            <p class="hidden-xs hidden-sm">六家互联网公司（今日头条、美团大众点评网、360、腾讯、微博、小米科技）发布联合声明，呼吁有关运营商打击流量劫持，重视互联网公司被流量劫持，可能导致的严重后果。</p>
                            <p>admin 15 / 10 / 11</p>
                        </div>
                    </div>

                </div>
            </div>




            <div class="col-md-4 info-right hidden-sm hidden-xs" >

                <blockquote>
                    <h2>熱門資訊</h2>
                </blockquote>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-5 com-sm-5 col-xs-5" style="margin:12px 0;padding:0;">
                            <img src="~/Image/info2.jpg" class="img-responsive" />
                        </div>
                        <div class="col-md-7 com-sm-7 col-xs-7" style="padding-right:0;">
                            <h4>苹果四寸手机为何要配置强大的A9处理器？</h4>
                            <p>admin 15 / 10 / 11</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5 com-sm-5 col-xs-5" style="margin:12px 0;padding:0;">
                            <img src="~/Image/info1.jpg" class="img-responsive" />
                        </div>
                        <div class="col-md-7 com-sm-7 col-xs-7" style="padding-right:0;">
                            <h4>广电总局发布TVOS2.0 华为阿里参与研发</h4>
                            <p>admin 15 / 10 / 11</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5 com-sm-5 col-xs-5" style="margin:12px 0;padding:0;">
                            <img src="~/Image/info3.jpg" class="img-responsive" />
                        </div>
                        <div class="col-md-7 com-sm-7 col-xs-7" style="padding-right:0;">
                            <h4>六家互联网公司发声明 抵制流量劫持等违法行为</h4>
                            <p>admin 15 / 10 / 11</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

