
<!--將圖設定為背景顏色 .css-->
<div class="jumbotron">
    <div class="container">
        <hgroup>
            <h1>案例</h1>
            <h4>和各大明星企業有緊密合作...</h4>
        </hgroup>
    </div>
</div>

<div id="Case">
    <div class="container">
        <div class="row">

        </div>
    </div>
</div>

