<!--將圖設定為背景顏色 .css-->
<div class="jumbotron">
    <div class="container">
        <hgroup>
            <h1>案例</h1>
            <h4>和各大明星企業有緊密合作...</h4>
        </hgroup>
    </div>
</div>

<div id="case">
    <div class="container">
        <div class="row">
            <!--
                col-lg-3 =>大螢幕顯示 4張
                col-md-4 =>中螢幕顯示 3張
                col-sm-6 =>小螢幕顯示 2張
                col-xs-12 =>超小螢幕顯示 1張
                設定col為使用CSS用  目的為第1行和第2行圖的間距
            -->
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 col">
                <!--thumbnail 縮略圖 下 已經是RWD-->
                <div class="thumbnail">
                    <img src="~/Image/case1.jpg" />
                    <!--圖片的說明 caption -->
                    <div class="caption">
                        <h4>中国移动通信</h4>
                        <p>参与了本机构的总裁管理培训课程，学员反馈意见良好。</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 col">
                <!--thumbnail 縮略圖 下 已經是RWD-->
                <div class="thumbnail">
                    <img src="~/Image/case2.jpg" />
                    <!--圖片的說明 caption -->
                    <div class="caption">
                        <h4>中国石化</h4>
                        <p>参与了本机构的总裁管理培训课程，学员反馈意见良好。</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 col">
                <!--thumbnail 縮略圖 下 已經是RWD-->
                <div class="thumbnail">
                    <img src="~/Image/case3.jpg" />
                    <!--圖片的說明 caption -->
                    <div class="caption">
                        <h4>中国联通</h4>
                        <p>参与了本机构的总裁管理培训课程，学员反馈意见良好。</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 col">
                <!--thumbnail 縮略圖 下 已經是RWD-->
                <div class="thumbnail">
                    <img src="~/Image/case4.jpg" />
                    <!--圖片的說明 caption -->
                    <div class="caption">
                        <h4>中国电信</h4>
                        <p>参与了本机构的总裁管理培训课程，学员反馈意见良好。</p>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 col">
                <!--thumbnail 縮略圖 下 已經是RWD-->
                <div class="thumbnail">
                    <img src="~/Image/case2.jpg" />
                    <!--圖片的說明 caption -->
                    <div class="caption">
                        <h4>中国石化</h4>
                        <p>参与了本机构的总裁管理培训课程，学员反馈意见良好。</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 col">
                <!--thumbnail 縮略圖 下 已經是RWD-->
                <div class="thumbnail">
                    <img src="~/Image/case3.jpg" />
                    <!--圖片的說明 caption -->
                    <div class="caption">
                        <h4>中国联通</h4>
                        <p>参与了本机构的总裁管理培训课程，学员反馈意见良好。</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 col">
                <!--thumbnail 縮略圖 下 已經是RWD-->
                <div class="thumbnail">
                    <img src="~/Image/case4.jpg" />
                    <!--圖片的說明 caption -->
                    <div class="caption">
                        <h4>中国电信</h4>
                        <p>参与了本机构的总裁管理培训课程，学员反馈意见良好。</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 col">
                <!--thumbnail 縮略圖 下 已經是RWD-->
                <div class="thumbnail">
                    <img src="~/Image/case1.jpg" />
                    <!--圖片的說明 caption -->
                    <div class="caption">
                        <h4>中国移动通信</h4>
                        <p>参与了本机构的总裁管理培训课程，学员反馈意见良好。</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 col">
                <!--thumbnail 縮略圖 下 已經是RWD-->
                <div class="thumbnail">
                    <img src="~/Image/case4.jpg" />
                    <!--圖片的說明 caption -->
                    <div class="caption">
                        <h4>中国电信</h4>
                        <p>参与了本机构的总裁管理培训课程，学员反馈意见良好。</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 col">
                <!--thumbnail 縮略圖 下 已經是RWD-->
                <div class="thumbnail">
                    <img src="~/Image/case1.jpg" />
                    <!--圖片的說明 caption -->
                    <div class="caption">
                        <h4>中国移动通信</h4>
                        <p>参与了本机构的总裁管理培训课程，学员反馈意见良好。</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 col">
                <!--thumbnail 縮略圖 下 已經是RWD-->
                <div class="thumbnail">
                    <img src="~/Image/case2.jpg" />
                    <!--圖片的說明 caption -->
                    <div class="caption">
                        <h4>中国石化</h4>
                        <p>参与了本机构的总裁管理培训课程，学员反馈意见良好。</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 col">
                <!--thumbnail 縮略圖 下 已經是RWD-->
                <div class="thumbnail">
                    <img src="~/Image/case3.jpg" />
                    <!--圖片的說明 caption -->
                    <div class="caption">
                        <h4>中国联通</h4>
                        <p>参与了本机构的总裁管理培训课程，学员反馈意见良好。</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

