<link href="~/Content/JqueryPractice.css" rel="stylesheet" />
@{
    ViewBag.Title = "AdvanceEvent";
    Layout = null;
}
<!--class20  &   class21   &  class22-->

<!--class20-->
<!--模擬操作-->

@*<input type="button" value="按鈕" />
<input type="button" value="按鈕" />
<input type="button" value="按鈕" />
<br />*@

@*<form action="123.html">
    <input type="submit" value="按鈕" />
</form>*@

@*<div class="d1">
    <div class="d2">
        <div class="d3">
            div
        </div>
    </div>
</div>*@

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/JqueryPractice.js"></script>