<link href="~/Content/JqueryPractice.css" rel="stylesheet" />

@{
    ViewBag.Title = "AnimationEffect";
    Layout = null;
}
<!--class23   &   class24   &   class25 -->
<!--class23 -->
   
  <!--
  <div class="test">1</div>
  <div class="test">2</div>
  <div class="test">3</div>
  <div class="test">4</div>
 
  <input type="button" class="show" value="顯示">
  <input type="button" class="hide1" value="隱藏">
  <input type="button" class="toggle" value="切換">

  <input type="button" class="up" value="up">
  <input type="button" class="down" value="down">
  <input type="button" class="toggle" value="切換">
   -->

  @*<input type="button" class="in" value="淡入">
  <input type="button" class="out" value="淡出">
  <input type="button" class="toggle" value="切換">
  <input type="button" class="to" value="透明度到">*@
  
  @*<div id="box">
    box 
  </div>*@

<!--class24 -->

@*<div id="pox">

    <input type="button" class="button" value="按鈕">
    <div id="box">
        box
    </div>
        pox
</div>*@

<!--class25 -->
    <input type="button" class="button" value="按鈕">
    <input type="button" class="stop" value="停止">
    <input type="button" class="ani" value="找出運動的動畫">
    <div id="box">
        box
    </div>
    <div id="pox">
    pox
</div>


<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/JqueryPractice.js"></script>
