<link href="~/Content/JqueryPractice.css" rel="stylesheet" />

@{
    ViewBag.Title = "DOMAndNodeProcess";
    Layout = null;
}


@*<strong>DOM</strong>
<div>節點</div>

<strong></strong>
<div>節點</div>

<div class="box">節點</div>
<div>節點</div>*@

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/JqueryPractice.js"></script>