<link href="~/Content/JqueryPractice.css" rel="stylesheet" />
@{
    ViewBag.Title = "DOMAndCss";
    Layout = null;
}

<!--Class10-->

@*<div id="box">
    <strong>www.yahoo.com.tw</strong>
</div>*@

<!--<input type="text" value="Web俱樂部" />-->

@*<input type="radio" value="Boy" />Boy
<input type="radio" value="Girl" />Girl
<input type="checkbox" value="編程" />編程*@


@*<div title="aaa">
    <strong>www.yahoo.com.tw</strong>
</div>

<div title="bbb">
    <strong>www.yahoo.com.tw</strong>
</div>*@


<!--Class11-->

@*<div title="aaa" class="green">
    <strong>www.yahoo.com.tw</strong>
</div>

<div title="bbb">
    <strong>www.yahoo.com.tw</strong>
</div>*@


<!--Class12-->

@*<div title="aaa" style="width:200px;padding:100px;border:100px solid #ccc;margin:100px">
    <strong>www.yahoo.com.tw</strong>
</div>

<div title="bbb">
    <strong>www.yahoo.com.tw</strong>
</div>*@

@*<div title="aaa" style="position:relative">
    <strong style="position:absolute;top:1px">www.yahoo.com.tw</strong>
</div>

<div title="bbb">
    <strong>www.yahoo.com.tw</strong>
</div>

<p>1</p><p>1</p><p>1</p><p>1</p><p>1</p>
<p>1</p><p>1</p><p>1</p><p>1</p><p>1</p>
<p>1</p><p>1</p><p>1</p><p>1</p><p>1</p>
<p>1</p><p>1</p><p>1</p><p>1</p><p>1</p>
<p>1</p><p>1</p><p>1</p><p>1</p><p>1</p>
<p>1</p><p>1</p><p>1</p><p>1</p><p>1</p>
<p>1</p><p>1</p><p>1</p><p>1</p><p>1</p>
<p>1</p><p>1</p><p>1</p><p>1</p><p>1</p>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/JqueryPractice.js"></script>*@