<link href="~/Content/JqueryPractice.css" rel="stylesheet" />
@{
    ViewBag.Title = "DOMAndCss";
    Layout = null;
}

<!--Class10-->

@*<div id="box">
    <strong>www.yahoo.com.tw</strong>
</div>*@

<!--<input type="text" value="Web俱樂部" />-->

@*<input type="radio" value="Boy" />Boy
<input type="radio" value="Girl" />Girl
<input type="checkbox" value="編程" />編程*@


@*<div title="aaa">
    <strong>www.yahoo.com.tw</strong>
</div>

<div title="bbb">
    <strong>www.yahoo.com.tw</strong>
</div>*@


<!--Class11-->

@*<div title="aaa" class="green">
    <strong>www.yahoo.com.tw</strong>
</div>

<div title="bbb">
    <strong>www.yahoo.com.tw</strong>
</div>*@


<!--Class12-->










<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/JqueryPractice.js"></script>