<link href="~/Content/JqueryPractice.css" rel="stylesheet" />
@{
    ViewBag.Title = "EventTarget";
    Layout = null;
}

<!--CLASS 18 & CLASS 19-->

<!--CLASS 18-->
@*<input type="button" value="按鈕" />
<input type="text" value="按鈕" />

<div style="width:200px;height:200px;background:#CCC">
    <span style="width:100px;height:100px;background:#eee;display:block"></span>
</div>
<p>1</p><p>1</p><p>1</p><p>1</p><p>1</p>
<p>1</p><p>1</p><p>1</p><p>1</p><p>1</p>
<p>1</p><p>1</p><p>1</p><p>1</p><p>1</p>
<p>1</p><p>1</p><p>1</p><p>1</p><p>1</p>
<p>1</p><p>1</p><p>1</p><p>1</p><p>1</p>
<p>1</p><p>1</p><p>1</p><p>1</p><p>1</p>*@

<!--CLASS 19-->

<!--有form才會有提交行為 -->
@*<form action="123.html">
    <div style="width:200px;height:200px;background:#CCC">
        <input type="submit" value="Button">
        <a href="www.yahoo.com.tw" target="_blank">Yahoo</a>
    </div>
</form>*@

        <script src="~/Scripts/jquery-1.10.2.js"></script>
        <script src="~/Scripts/JqueryPractice.js"></script>
