
@{
    ViewBag.Title = "FilterSelector";
    Layout = null;
}

<div>
    我的新域名 : ycku.com
</div>
<div>
    我的舊域名 : yc60.com
</div>
<div>1</div>
<div><p></p></div>

<div style="display:none">
    我的新域名 : yyyy.com
</div>
<div>
    我的舊域名 : cc60.com
</div>

<ul id="box">
    <li>列表1</li>
    <li>列表2</li>
    <li class="red">列表3</li>
    <li>列表4</li>
    <li>列表5</li>
    <li>列表6</li>
</ul>

<ul>
    <li>列表1</li>
    <li>列表2</li>
    <li>列表3</li>
    <li>列表4</li>
    <li>列表5</li>
    <li>列表6</li>
</ul>

<input type="text"/>

<div>
    <h3>我是標題</h3>
</div>


<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/JqueryPractice.js"></script>