<link href="~/Content/JqueryPractice.css" rel="stylesheet" />
@{
    ViewBag.Title = "FormSelector";
}

<form>
    <input type="text" disabled="disabled" name="user" value="123">
    <input type="password" name="pass" value="456">
    <input type="radio" name="sex" value="男" checked="checked">男
    <input type="radio" name="sex" value="女">女

    <textarea></textarea>
    <select name="city" multiple>
        <option>1</option>
        <option>2</option>
        <option>3</option>
    </select>
    <button></button>
</form>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/JqueryPractice.js"></script>