
@{
    ViewBag.Title = "NormalSelector1";
}

@*<div class="pox">常規選擇器</div>
    <div class="pox">常規選擇器</div>
    <div class="pox">常規選擇器</div>*@

@*<div id="box">
    <p>常規選擇器</p>
    <p>常規選擇器</p>
    <p>常規選擇器</p>
    <div>
        <p>常規選擇器</p>
        <p>常規選擇器</p>
        <p>常規選擇器</p>
    </div>
</div>*@

@*<div id="box">
    常規選擇器
</div>*@
@*==========================class5============================*@

@*<div id="box">div</div>
<div>div</div>
<div>div</div>

<p class="pox">p</p>
<p class="pox">p</p>
<p>p</p>

<strong>strong</strong>
<strong>strong</strong>
<strong>strong</strong>*@

@*<ul>
    <li><a href="##" class="li-a">首頁</a></li>
    <li><a href="##" class="li-a">首頁</a></li>
</ul>*@

@*<ul id="practiceUL">
    <li><a href="##">首頁</a></li>
    <li><a href="##">首頁</a></li>
    <li><em>首頁</em></li>
    <li><strong>首頁</strong></li>
</ul>

<a href="##">首頁</a>
<a href="##">首頁</a>

<p>首頁</p>
<p>首頁</p>

<span>首頁</span>
<span>首頁</span>*@
 
@*<div class="box">div</div>
<p class="box">p</p>

<div>div</div>
<p>p</p>*@

@*<div class="box pox">div</div>
<p class="box">p</p>

<div class="box">div</div>
<p class="pox">p</p>*@